<!DOCTYPE html>
<html lang="en">
    <%-include('./shared/header.ejs')%> 
    <form action="/handleedit/<%=data._id%>" method="POST" class="p-4">
        <div class="pb-2">
            <input class="form-control  w-75 m-auto " placeholder="Enter Title" type="text" name="title" value="<%=data.title%>">
        </div>
        <div class="pb2">
            <textarea  name="content" class="form-control w-75 m-auto" placeholder="Enter Text" name="" id="" cols="30"
            rows="10"><%=data.content%></textarea>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" href="/profile">Cancel</a>
            <button type="submit" class="btn btn-info">confirm</button>
        </div>

    </form>    
    <%-include('./shared/footer.ejs')%> 